header{
background:url(./image/brush1.png);
height: 99vh;
width: 210vh;
background-color: #482be7;
background-repeat: no-repeat;
margin:0px;
}

.hero-section h1{
font-size: 49px;
margin-top:110px;
}

.ogo{
background-color: white;
color:#482be7
}

.dii{
 background-color: white;
color:#482be7;
}

.boy{
background-color: transparent;
 color: white;   
}











